* {
  font-family: 'Poppins';
}

.App {
  text-align: center;
}

.profile-pic {
  width: 190px;
  aspect-ratio: 1;
  object-fit: cover;
}

.logo-img {
  width: 50px;
  aspect-ratio: 1;
  object-fit: cover;
}

.full-image {
  object-fit: cover;
  height: 350px;
  width: 100%;
}

.intro-div {
  height: 600px;
}
